*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    color: #dfdfdf;
    color-scheme: dark;
    font-family: 'Poppins', sans-serif;

    --bg-color-1: ;
    --bg-color-2: ;

    --text-color-1: ;
    --text-color-2: ;
}

html, body, main{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    padding: 1vh 5vw;
    display: grid;
    grid-template-rows: 90px auto;
}

a{
    color: inherit;
    text-decoration: none;
}

#humberger{
    display: none;
}

section, aside{
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
section::-webkit-scrollbar,
aside::-webkit-scrollbar{display: none}

/* header */
header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

#info{
    direction: rtl;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;
    color: #929292;
}

#info a{
    color: #dfdfdf;
    font-size: 17px;
    font-weight: 600;
}

/* main */
main{
    display: grid;
    gap: 25px;
    grid-template-columns: auto 425px;
}

/*  */
section{
    border-radius: 5px;
    border: 1px solid #444;
}

/* aside */
#projects{
    min-height: 100%;
    list-style: none;
    position: relative;
}

#projects::after{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #208a00;
    transform: translateX(-50%);
}

.project{
    display: grid;
    perspective: 1000px;
    grid-template-columns: 1fr 1fr;
}

.project .card{
    user-select: none;
    margin: 40px 23px;
    padding: 16px 15px;
    position: relative;
    border-radius: 7px;
    pointer-events: none;
    background-color: #540880;
    filter: drop-shadow(-6px 7px #000);
    gap: 5px;
    opacity: .2;
    display: flex;
    flex-flow: column nowrap;
    transition: all 1s cubic-bezier(0.37, 0.94, 0.48, 1.51);
}

.project:nth-child(odd) .card{
    grid-column: 2/3;
    transform: translateY(-30px) rotateY(45deg);
}
.project:nth-child(odd) .card:active{
    transition-duration: .3s;
    transform: translateY(0) rotateY(-40deg) !important;
}

.project:nth-child(even) .card{
    grid-column: 1/2;
    transform: translateY(-30px) rotateY(-40deg);
}
.project:nth-child(even) .card:active{
    transition-duration: .3s;
    transform: translateY(0) rotateY(40deg) !important;
}

.project.visible .card{
    opacity: 1;
    cursor: pointer;
    pointer-events: initial;
    transform: translateY(0) rotateY(0) !important;
}

.card::after{
    content: "";
    position: absolute;
    top: 50%;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: inherit;
    transform: translate(-50%, -50%) rotate(45deg);
}
.project:nth-child(odd) .card::after{
    left: 0;
    border-radius: 0 0 0 2px;
}
.project:nth-child(even) .card::after{
    left: 100%;
    border-radius: 0 2px 0 0;
}

/* .project:not(.visible) .card{
    animation: anm 2s ease infinite;
}

@keyframes anm{
    0%, 100%{top: 0}
    50%{top: 30px}
} */

/*  */
@media (max-width: 425px) {
    /* header */
    #info{
        display: none;
    }

    #humberger{
        width: 40px;
        padding: 6px;
        cursor: pointer;
        display: flex;
        gap: 6px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-end;
    }

    #humberger span{
        width: 100%;
        height: 3px;
        border-radius: 3px;
        background: #fff;
    }

    #humberger span:first-child{width: 65%;}
    #humberger span:last-child{width: 40%;}

    main{
        position: relative;
        grid-template-columns: 1fr;
    }

    aside{
        transition: all .5s linear;
        background: #242429;
        border-radius: 15px 15px 10px 10px;
        width: 100%;
        height: 50%;

        transform-origin: right bottom;
        transform: scale(0);
        opacity: 0;
    }

    aside, #cross{
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 2;
    }

    #cross{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #f00;
        cursor: pointer;
    }

    aside.show{
        transform: scale(1);
        opacity: 1;
    }

    #projects::after{
        display: none;
    }

    .project{
        display: list-item;
    }

    .project .card::after{
        display: none;
    }
}

@media (min-width: 426px) and (max-width: 1000px) {
    main{
        grid-template-columns: auto 230px;
    }
}